h1 {color: green; font-size: 40px; text-align: center; text-decoration: underline;}
p {color: red;}
.primeiro {color: blue; font-size: 20px; font-style: italic;}
#segundo {color: gray; font-size: 30px; text-decoration: line-through;}
#lampada {width: 100px;}